!!!5
html(lang="en")
  head
    meta(charset="utf-8")
    title Experiments
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/bootstrap-responsive.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    link(rel="shortcut icon", href="/favicon.ico")

    block head

    // if lt IE 9 script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body

    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container
          a.brand(href="#") Experiments
          block navbar

    #main-container
      block content
        .container
          h1 Experiments
          p No content yet!

    block modals

    block scripts
      script#app(src="/lib/require.js", "data-main"="/app.js")
